@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both; }

/*小标题公共样式 */
.ai-title {
  width: 100%; }
  .ai-title .title-top {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: 500; }
    .ai-title .title-top:before {
      content: "{ ";
      color: #2277e6; }
    .ai-title .title-top:after {
      content: " }";
      color: #2277e6; }
  .ai-title .title-info {
    width: 100%;
    margin-top: 18px;
    color: #a7a7a8;
    font-size: 16px;
    text-align: center; }

/*轮播图 */
.banner {
  width: 100%;
  height: 575px;
  background: url("../images/banner.jpg") no-repeat bottom center; }

/*公告区 */
.notice {
  width: 100%;
  height: 112px;
  border-bottom: 1px solid #dedfe1;
  background: #f7f8fa; }
  .notice .notice-wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .notice .notice-wrap .notice-elem {
      display: block;
      box-sizing: border-box;
      float: left;
      width: 300px;
      height: 100%;
      padding: 20px 0 0 28px;
      border-left: 1px solid #dedfe1; }
      .notice .notice-wrap .notice-elem .elem-link {
        display: block;
        width: 100%;
        height: 100%; }
        .notice .notice-wrap .notice-elem .elem-link .day {
          font-size: 15px;
          margin-bottom: 8px; }
        .notice .notice-wrap .notice-elem .elem-link .title {
          position: relative;
          font-size: 16px; }
          .notice .notice-wrap .notice-elem .elem-link .title .icon {
            position: absolute;
            right: -35px;
            top: -15px;
            height: 14px;
            padding: 0 2px;
            color: #fd7822;
            border: 1px solid;
            font-size: 12px;
            font-style: normal;
            text-align: center;
            line-height: 14px; }
            .notice .notice-wrap .notice-elem .elem-link .title .icon:before {
              content: "";
              position: absolute;
              left: 5px;
              bottom: -6px;
              width: 6px;
              height: 5px;
              border-left: 1px solid;
              border-top: 1px solid #fff; }
            .notice .notice-wrap .notice-elem .elem-link .title .icon:after {
              content: "";
              position: absolute;
              left: 5px;
              bottom: -4px;
              width: 8px;
              border-top: 1px solid;
              transform: rotateZ(-38deg); }
        .notice .notice-wrap .notice-elem .elem-link .info {
          margin-top: 8px;
          color: #a7a7a8;
          font-size: 12px; }
      .notice .notice-wrap .notice-elem:hover {
        background: #fff; }
        .notice .notice-wrap .notice-elem:hover .title {
          color: #2277e6; }
    .notice .notice-wrap .last {
      border-right: 1px solid #dedfe1; }

/*一键接入AI技术 */
.ai-teck {
  width: 1200px;
  margin: 60px auto 0 auto; }
  .ai-teck .teck-context {
    width: 100%;
    height: 620px;
    margin-top: 50px; }
    .ai-teck .teck-context .context-show {
      float: left;
      box-sizing: border-box;
      width: 386px;
      height: 300px;
      margin-top: 20px;
      overflow: hidden;
      background: url("../images/ai-teck/136-340x400.jpg") 186px 75px no-repeat;
      background-size: 200px; }
      .ai-teck .teck-context .context-show .show-wrap {
        width: 100%;
        height: 100%;
        padding: 18px 0 0 16px;
        background: linear-gradient(to right, #2277e6, rgba(34, 119, 230, 0.9)); }
        .ai-teck .teck-context .context-show .show-wrap .show-server {
          display: block;
          box-sizing: border-box;
          height: 90px;
          padding: 24px 0 0 15px;
          border-left: 2px solid transparent; }
          .ai-teck .teck-context .context-show .show-wrap .show-server .server-name {
            height: 22px;
            color: #fff;
            font-size: 14px;
            line-height: 22px; }
            .ai-teck .teck-context .context-show .show-wrap .show-server .server-name .icon-speech-synth {
              display: inline-block;
              vertical-align: middle;
              width: 22px;
              height: 22px;
              margin-right: 8px;
              background: url("../images/icons.png") -26px -10px; }
          .ai-teck .teck-context .context-show .show-wrap .show-server .sever-info {
            margin: 8px 0 0 30px;
            color: #ccc;
            font-size: 12px; }
          .ai-teck .teck-context .context-show .show-wrap .show-server:hover {
            border-left: 2px solid #fff;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }
    .ai-teck .teck-context .sever-item {
      float: left;
      box-sizing: border-box;
      width: 386px;
      height: 300px;
      padding-top: 18px;
      margin: 20px 0 0 20px;
      box-shadow: 0 0 4px #ccc;
      overflow: hidden; }
      .ai-teck .teck-context .sever-item .sever {
        width: 334px;
        margin: 0 auto;
        border-top: 4px solid #5acfec; }
        .ai-teck .teck-context .sever-item .sever .sever-logo {
          width: 54px;
          height: 54px;
          margin: 25px auto 10px auto;
          background-image: url("../images/icons.png"); }
        .ai-teck .teck-context .sever-item .sever .sever-title {
          color: #000;
          font-size: 22px;
          font-weight: 500;
          text-align: center; }
        .ai-teck .teck-context .sever-item .sever .sever-info {
          margin-top: 10px;
          color: #a7a7a8;
          font-size: 14px;
          text-align: center; }
        .ai-teck .teck-context .sever-item .sever .voice-recog-logo {
          background-position: -295px -112px; }
        .ai-teck .teck-context .sever-item .sever .speech-exten-logo {
          background-position: -213px -187px; }
        .ai-teck .teck-context .sever-item .sever .speech-hardware-logo {
          background-position: -211px -108px; }
        .ai-teck .teck-context .sever-item .sever .pattern-recog-logo {
          background-position: -296px -187px; }
        .ai-teck .teck-context .sever-item .sever .basic-service-logo {
          background-position: -209px -34px; }
      .ai-teck .teck-context .sever-item .special-border {
        position: relative;
        border-top: 4px solid #1fb6ff; }
        .ai-teck .teck-context .sever-item .special-border:before {
          content: "";
          position: absolute;
          left: 0;
          top: -4px;
          width: 36px;
          border-top: 4px solid #1788be; }
        .ai-teck .teck-context .sever-item .special-border:after {
          content: "";
          position: absolute;
          right: 0;
          top: -4px;
          width: 36px;
          border-top: 4px solid #1788be; }
      .ai-teck .teck-context .sever-item .sever-detail {
        width: 312px;
        height: 90px;
        margin: 25px auto 0 auto;
        border-top: 1px dashed #ccc; }
        .ai-teck .teck-context .sever-item .sever-detail .detail-list {
          float: left;
          width: 104px;
          height: 100%; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .list-link {
            display: block;
            width: 100%;
            height: 66px;
            padding-top: 24px;
            color: #666;
            text-align: center; }
            .ai-teck .teck-context .sever-item .sever-detail .detail-list .list-link .icon {
              display: block;
              width: 36px;
              height: 30px;
              margin: 0 auto;
              background-image: url("../images/icons.png"); }
            .ai-teck .teck-context .sever-item .sever-detail .detail-list .list-link .list {
              display: block;
              margin-top: 12px;
              font-size: 14px;
              text-align: center; }
            .ai-teck .teck-context .sever-item .sever-detail .detail-list .list-link:hover {
              background: rgba(200, 200, 200, 0.3); }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-voice {
            background-position: -87px -14px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-face-recog {
            background-position: -152px -61px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-dialog {
            background-position: -88px -62px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-wakeup {
            background-position: -90px -102px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-reading {
            background-position: -89px -152px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-evaluation {
            background-position: -86px -212px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-ai-head {
            background-position: -152px -15px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-voiceprint-recog {
            background-position: -152px -105px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-storage {
            background-position: -150px -158px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-xunpush {
            background-position: -152px -210px; }
          .ai-teck .teck-context .sever-item .sever-detail .detail-list .icon-update {
            background-position: -23px -214px; }
    .ai-teck .teck-context .speech-recog-bg {
      background: url("../images/ai-teck/speech-recognition.png") 52px 0/381px no-repeat; }
    .ai-teck .teck-context .speech-exten-bg {
      background: url("../images/ai-teck/speech-extensions.png") 99px 0/312px no-repeat; }
      .ai-teck .teck-context .speech-exten-bg .sever {
        border-top: 4px solid #ff7849; }
    .ai-teck .teck-context .speech-hardware-bg {
      margin-left: 0;
      background: url("../images/ai-teck/speech-hardware.png") 66px 0/320px no-repeat; }
      .ai-teck .teck-context .speech-hardware-bg .sever {
        border-top: 4px solid #00ce8c; }
    .ai-teck .teck-context .pattern-recog-bg {
      background: url("../images/ai-teck/pattern-recognition.png") 138px 0/248px no-repeat; }
    .ai-teck .teck-context .basic-service-bg {
      background: url("../images/ai-teck/basic-service.png") 84px 0/301px no-repeat; }
      .ai-teck .teck-context .basic-service-bg .sever {
        border-top: 4px solid #7e5bef; }

/*AI解决方案 */
.ai-solution {
  width: 100%;
  margin-top: 145px; }
  .ai-solution .solution-wrap {
    width: 100%;
    margin-top: 64px;
    background: #292929; }
    .ai-solution .solution-wrap .list-wrap {
      width: 1200px;
      height: 520px;
      margin: 0 auto;
      border: 1px solid #ccc; }
      .ai-solution .solution-wrap .list-wrap .solution-item {
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 300px;
        height: 260px;
        border: 1px solid #ccc;
        color: #fff; }
        .ai-solution .solution-wrap .list-wrap .solution-item:hover .item-name {
          display: none; }
        .ai-solution .solution-wrap .list-wrap .solution-item:hover .item-hide {
          top: 0;
          visibility: visible; }
        .ai-solution .solution-wrap .list-wrap .solution-item .item-name {
          height: 260px;
          font-size: 24px;
          text-align: center;
          line-height: 260px; }
        .ai-solution .solution-wrap .list-wrap .solution-item .item-hide {
          position: absolute;
          visibility: hidden;
          top: 100%;
          left: -1px;
          width: 298px;
          height: 258px;
          border: 1px solid transparent;
          background: rgba(31, 83, 190, 0.65);
          transition: top 0.3s linear; }
          .ai-solution .solution-wrap .list-wrap .solution-item .item-hide .name {
            padding-top: 36px;
            margin-bottom: 24px;
            font-size: 24px;
            text-align: center; }
          .ai-solution .solution-wrap .list-wrap .solution-item .item-hide .introduce {
            padding: 0 24px;
            margin-bottom: 40px;
            font-size: 12px;
            line-height: 24px; }
          .ai-solution .solution-wrap .list-wrap .solution-item .item-hide .detail {
            display: block;
            box-sizing: border-box;
            width: 135px;
            height: 40px;
            margin: 0 auto;
            border: 1px solid #fff;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 40px; }

/*AI生态平台 */
.ai-ecol-platform {
  position: relative;
  width: 1200px;
  padding: 100px 0 64px 0;
  margin: 0 auto;
  background: #fff; }
  .ai-ecol-platform .ai-title {
    margin-bottom: 64px; }
  .ai-ecol-platform .introduce {
    float: left;
    box-sizing: border-box;
    width: 580px;
    height: 470px;
    background: url("../images/ecol-platform/introduce-bg.png") no-repeat;
    background-size: 100% 100%; }
    .ai-ecol-platform .introduce .list-wrap {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 40px 0 0 50px;
      background: rgba(38, 38, 38, 0.7); }
      .ai-ecol-platform .introduce .list-wrap .intro-list {
        display: block;
        height: 50px;
        margin-bottom: 25px; }
        .ai-ecol-platform .introduce .list-wrap .intro-list .list {
          display: block;
          height: 100%; }
          .ai-ecol-platform .introduce .list-wrap .intro-list .list .icon {
            float: left;
            width: 32px;
            height: 32px;
            margin: 0 18px 18px 0;
            background: #ccc; }
          .ai-ecol-platform .introduce .list-wrap .intro-list .list .content {
            float: left;
            height: 50px;
            font-size: 14px; }
            .ai-ecol-platform .introduce .list-wrap .intro-list .list .content .title {
              margin-bottom: 10px;
              color: #3770bd; }
            .ai-ecol-platform .introduce .list-wrap .intro-list .list .content .info {
              color: #fff; }
  .ai-ecol-platform .nephogram {
    float: left;
    width: 580px;
    height: 470px;
    margin-left: 40px;
    color: #fff;
    background: url("../images/ecol-platform/nebula.png") no-repeat;
    background-size: 100% 100%; }
    .ai-ecol-platform .nephogram .title {
      padding: 154px 0 28px 0;
      font-size: 32px;
      font-weight: 500;
      text-align: center; }
    .ai-ecol-platform .nephogram .info {
      padding: 0 60px;
      font-size: 14px;
      line-height: 24px; }

/*技术优势 */
.teck-advantage {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 756px;
  background: rgba(22, 34, 97, 0.4); }
  .teck-advantage:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/teck-advantage/bg25.png") bottom center/1920px 817px no-repeat; }
  .teck-advantage .ai-title {
    padding-top: 100px; }
    .teck-advantage .ai-title .title-top {
      color: #fff; }
    .teck-advantage .ai-title .title-info {
      color: #a2a5b6; }
  .teck-advantage .features {
    position: relative;
    width: 1200px;
    margin: 120px auto 0 auto; }
    .teck-advantage .features .feature {
      position: relative;
      height: 120px;
      margin-bottom: 130px; }
      .teck-advantage .features .feature .detail {
        float: left;
        width: 294px; }
        .teck-advantage .features .feature .detail .title {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          text-align: right; }
        .teck-advantage .features .feature .detail .info {
          margin-top: 28px;
          color: #a2a5b6;
          font-size: 14px;
          line-height: 24px; }
      .teck-advantage .features .feature .icon {
        float: right;
        width: 60px;
        height: 75px;
        background: #ccc; }
      .teck-advantage .features .feature .line {
        position: absolute;
        width: 110px;
        height: 1px;
        background: linear-gradient(to right, white, rgba(255, 255, 255, 0)); }
        .teck-advantage .features .feature .line:before {
          content: "";
          position: absolute;
          top: -3px;
          left: -9px;
          width: 6px;
          height: 6px;
          border: 1px solid #fff;
          border-radius: 50%; }
      .teck-advantage .features .feature .left-top {
        right: -94px;
        bottom: 18px;
        transform: rotateZ(-145deg); }
      .teck-advantage .features .feature .left-bottom {
        right: -94px;
        top: -26px;
        transform: rotateZ(145deg); }
      .teck-advantage .features .feature .right-top {
        left: -93px;
        bottom: 18px;
        transform: rotateZ(-35deg); }
      .teck-advantage .features .feature .right-bottom {
        left: -93px;
        top: -26px;
        transform: rotateZ(35deg); }
    .teck-advantage .features .left-part {
      float: left;
      width: 386px;
      margin-left: 10px; }
    .teck-advantage .features .right-part {
      float: right;
      width: 386px;
      margin-right: 10px; }
      .teck-advantage .features .right-part .detail {
        float: right; }
        .teck-advantage .features .right-part .detail .title {
          text-align: left; }
      .teck-advantage .features .right-part .icon {
        float: left; }
    .teck-advantage .features .center-circle {
      position: absolute;
      top: 52px;
      left: 50%;
      width: 219px;
      height: 219px;
      margin-left: -110px;
      border: 1px solid #fff;
      border-radius: 50%; }

/*合作伙伴 */
.partners {
  width: 100%;
  height: 630px;
  margin-top: 112px; }
  .partners .title-info {
    line-height: 30px; }
  .partners .partner-wrap {
    width: 1800px;
    height: 300px;
    margin-top: 80px; }
    .partners .partner-wrap .name {
      float: left;
      width: 300px;
      height: 100px;
      margin-bottom: 50px; }

/*# sourceMappingURL=index.css.map */
