#gopng_icons8-Location-96_outer {
height: 73px;
width: 57px;
overflow: hidden;
}
#gopng_icons8-Location-96 {
background: url(http://gopng/static/images/sprite.png) -377px -13px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 377px;
_margin-left: -377px;
_padding-top: 13px;
_margin-top: -13px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icons8-ZIP-96_outer {
height: 67px;
width: 51px;
overflow: hidden;
}
#gopng_icons8-ZIP-96 {
background: url(http://gopng/static/images/sprite.png) -298px -19px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 298px;
_margin-left: -298px;
_padding-top: 19px;
_margin-top: -19px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icons8-Restart-96_outer {
height: 61px;
width: 61px;
overflow: hidden;
}
#gopng_icons8-Restart-96 {
background: url(http://gopng/static/images/sprite.png) -377px -99px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 377px;
_margin-left: -377px;
_padding-top: 99px;
_margin-top: -99px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icons8-Data-Transfer-961_outer {
height: 55px;
width: 59px;
overflow: hidden;
}
#gopng_icons8-Data-Transfer-961 {
background: url(http://gopng/static/images/sprite.png) -379px -187px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 379px;
_margin-left: -379px;
_padding-top: 187px;
_margin-top: -187px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-speech-extensions-100_outer {
height: 53px;
width: 51px;
overflow: hidden;
}
#gopng_icon-speech-extensions-100 {
background: url(http://gopng/static/images/sprite.png) -214px -187px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 214px;
_margin-left: -214px;
_padding-top: 187px;
_margin-top: -187px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-pattern-recog-100_outer {
height: 53px;
width: 51px;
overflow: hidden;
}
#gopng_icon-pattern-recog-100 {
background: url(http://gopng/static/images/sprite.png) -298px -187px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 298px;
_margin-left: -298px;
_padding-top: 187px;
_margin-top: -187px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-basic-service-100_outer {
height: 51px;
width: 51px;
overflow: hidden;
}
#gopng_icon-basic-service-100 {
background: url(http://gopng/static/images/sprite.png) -211px -35px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 211px;
_margin-left: -211px;
_padding-top: 35px;
_margin-top: -35px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icons8-voice-recognition-100_outer {
height: 48px;
width: 54px;
overflow: hidden;
}
#gopng_icons8-voice-recognition-100 {
background: url(http://gopng/static/images/sprite.png) -295px -112px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 295px;
_margin-left: -295px;
_padding-top: 112px;
_margin-top: -112px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-speech-hardware-100_outer {
height: 48px;
width: 54px;
overflow: hidden;
}
#gopng_icon-speech-hardware-100 {
background: url(http://gopng/static/images/sprite.png) -211px -109px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 211px;
_margin-left: -211px;
_padding-top: 109px;
_margin-top: -109px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-wakeup_outer {
height: 30px;
width: 34px;
overflow: hidden;
}
#gopng_icon-wakeup {
background: url(http://gopng/static/images/sprite.png) -91px -103px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 91px;
_margin-left: -91px;
_padding-top: 103px;
_margin-top: -103px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-ai_outer {
height: 28px;
width: 24px;
overflow: hidden;
}
#gopng_icon-ai {
background: url(http://gopng/static/images/sprite.png) -159px -16px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 159px;
_margin-left: -159px;
_padding-top: 16px;
_margin-top: -16px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-XPush_outer {
height: 28px;
width: 35px;
overflow: hidden;
}
#gopng_icon-XPush {
background: url(http://gopng/static/images/sprite.png) -152px -211px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 152px;
_margin-left: -152px;
_padding-top: 211px;
_margin-top: -211px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-evaluation_outer {
height: 27px;
width: 25px;
overflow: hidden;
}
#gopng_icon-evaluation {
background: url(http://gopng/static/images/sprite.png) -91px -213px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 91px;
_margin-left: -91px;
_padding-top: 213px;
_margin-top: -213px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-face-recognition_outer {
height: 27px;
width: 27px;
overflow: hidden;
}
#gopng_icon-face-recognition {
background: url(http://gopng/static/images/sprite.png) -156px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 156px;
_margin-left: -156px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-voiceprint-recognition_outer {
height: 27px;
width: 27px;
overflow: hidden;
}
#gopng_icon-voiceprint-recognition {
background: url(http://gopng/static/images/sprite.png) -156px -106px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 156px;
_margin-left: -156px;
_padding-top: 106px;
_margin-top: -106px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-update_outer {
height: 27px;
width: 29px;
overflow: hidden;
}
#gopng_icon-update {
background: url(http://gopng/static/images/sprite.png) -26px -215px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 26px;
_margin-left: -26px;
_padding-top: 215px;
_margin-top: -215px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-dialog-big_outer {
height: 26px;
width: 26px;
overflow: hidden;
}
#gopng_icon-dialog-big {
background: url(http://gopng/static/images/sprite.png) -93px -64px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 93px;
_margin-left: -93px;
_padding-top: 64px;
_margin-top: -64px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-voice_outer {
height: 26px;
width: 28px;
overflow: hidden;
}
#gopng_icon-voice {
background: url(http://gopng/static/images/sprite.png) -91px -16px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 91px;
_margin-left: -91px;
_padding-top: 16px;
_margin-top: -16px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-reading_outer {
height: 26px;
width: 28px;
overflow: hidden;
}
#gopng_icon-reading {
background: url(http://gopng/static/images/sprite.png) -93px -154px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 93px;
_margin-left: -93px;
_padding-top: 154px;
_margin-top: -154px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-tutor_outer {
height: 26px;
width: 28px;
overflow: hidden;
}
#gopng_icon-tutor {
background: url(http://gopng/static/images/sprite.png) -26px -128px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 26px;
_margin-left: -26px;
_padding-top: 128px;
_margin-top: -128px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-connection_outer {
height: 26px;
width: 28px;
overflow: hidden;
}
#gopng_icon-connection {
background: url(http://gopng/static/images/sprite.png) -26px -171px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 26px;
_margin-left: -26px;
_padding-top: 171px;
_margin-top: -171px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-camp_outer {
height: 24px;
width: 33px;
overflow: hidden;
}
#gopng_icon-camp {
background: url(http://gopng/static/images/sprite.png) -23px -79px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 23px;
_margin-left: -23px;
_padding-top: 79px;
_margin-top: -79px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-storage_outer {
height: 23px;
width: 31px;
overflow: hidden;
}
#gopng_icon-storage {
background: url(http://gopng/static/images/sprite.png) -152px -160px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 152px;
_margin-left: -152px;
_padding-top: 160px;
_margin-top: -160px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-news_outer {
height: 22px;
width: 26px;
overflow: hidden;
}
#gopng_icon-news {
background: url(http://gopng/static/images/sprite.png) -28px -44px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 28px;
_margin-left: -28px;
_padding-top: 44px;
_margin-top: -44px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_icon-dialog_outer {
height: 18px;
width: 18px;
overflow: hidden;
}
#gopng_icon-dialog {
background: url(http://gopng/static/images/sprite.png) -28px -13px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 28px;
_margin-left: -28px;
_padding-top: 13px;
_margin-top: -13px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
